.list-item--header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.list-item--controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-item--child {
    background-color: lightgrey;

}